@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@1,300&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");
body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'Roboto Condensed', sans-serif;
  background: linear-gradient(-75deg, #030811, #0c182e, #1c2343, #080e2d);
  background-size: 400% 400%;
  -webkit-animation: gradient 20s ease infinite;
          animation: gradient 20s ease infinite;
  color: #dadada;
}

@-webkit-keyframes gradient {
  0% {
    background-position: 0% 75%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 75%;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 75%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 75%;
  }
}

.Nav {
  background-color: #32438d;
  left: 0;
  position: fixed;
  max-width: 9em;
  min-height: 100vh;
  z-index: 20;
  padding-top: 15px;
  padding-bottom: 15px;
  z-index: 3;
  font-size: .7em;
  border-bottom-left-radius: 5%;
  border-bottom-right-radius: 50%;
}

.Nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.nav-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 6em;
  height: 6em;
  background-color: #040a23;
  margin: 1em;
  padding: 1em;
  border-radius: 5%;
}

.nav-item img {
  margin-top: 1em;
  width: 1em;
}

.Nav a {
  text-decoration: none;
  color: #dadada;
  font-size: 2em;
}

.background-title-1 {
  position: fixed;
  max-width: 8em;
  min-height: 100vh;
  left: 0;
  bottom: 5;
  background-size: cover;
  z-index: 10;
  opacity: 60%;
}

.section {
  background: black;
  margin-top: 2em;
  background-color: rgba(85, 65, 104, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  padding: 1em;
  height: 75vh;
  width: 50vw;
  text-align: left;
}

.section h1 {
  margin-top: 2em;
  font-family: Poppins;
  letter-spacing: 5px;
  margin-bottom: .2em;
  font-size: 2em;
}

.underline {
  font-size: 1.1em;
  background-color: red;
  width: 5em;
  height: .5em;
  content: "";
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section-header {
  margin-top: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
}

.header-info {
  width: 20em;
  height: 6.5em;
  padding: 1em;
  margin-top: 1em;
  margin-left: 5%;
  margin-bottom: 5%;
  background-color: #283981;
}

.info-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 1em;
  font-size: 1.2em;
}

.info-section img {
  margin-right: 2em;
  height: 1em;
}

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 1em;
  font-size: 1.3em;
  padding-left: 1em;
  padding-right: 1em;
}

.info img {
  margin-right: 2em;
  height: 1em;
}

.Title {
  max-width: 20%;
  font-family: 'Chakra Petch', sans-serif;
  background-color: rgba(238, 238, 238, 0.2);
  font-size: 2em;
  color: rgba(12, 0, 0, 0.8);
  margin-left: 0.4em;
  margin-top: 1em;
  -webkit-transform: rotate(-30deg);
          transform: rotate(-30deg);
}

/* Main component */
.Main {
  position: relative;
  margin-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  min-height: 75vh;
  max-height: 75vh;
  min-width: 50vw;
  max-width: 50vw;
  overflow: auto;
  border: 1px dotted;
  padding: 1em;
  color: #464646;
  background-size: cover;
  z-index: 10;
  border-radius: 5px;
  background-color: rgba(227, 225, 230, 0.2);
  z-index: 10;
}

.Main img {
  text-align: center;
}

.post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  margin-bottom: 4em;
  font-size: 23px;
}

.Post-date {
  color: #c24d4d;
}

.News {
  width: 20em;
  border: 1px solid;
}

.paragraph {
  color: #555557;
  text-align: left;
  max-width: 90%;
}

/* About */
.about {
  margin-left: 2em;
  margin-right: 2em;
  font-size: 15px;
}

.portrait {
  height: 10em;
  border-radius: 75%;
}

.icon {
  max-width: 1%;
  text-align: center;
}

/* Music */
.album {
  background-color: rgba(12, 0, 0, 0.01);
  min-width: 10em;
  min-height: 10em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5%;
  margin-bottom: 1em;
  padding: 1em;
}

.album-title {
  -webkit-text-decoration: dashed;
          text-decoration: dashed;
}

.album img {
  max-width: 15em;
  cursor: pointer;
  border-radius: 5%;
}

.albums {
  margin: 2em;
  padding: 1em;
}

/* Button */
.button {
  max-width: 8em;
}

/* Modal */
.modal {
  border: 1px solid;
  min-width: 10em;
  min-height: 10em;
  background-color: rgba(85, 65, 104, 0.95);
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  margin: 5em;
}

.modal-album {
  background-color: rgba(12, 0, 0, 0.8);
  min-width: 80%;
  min-height: 90%;
  padding: 1em;
  border-radius: 1%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal-album-title {
  color: #d63030;
}

.modal-album-release {
  color: #e26464;
  padding: 1em;
}

.modal-album-info {
  color: white;
  padding: 1em;
  font-size: 2em;
}

/* effects */
.Nav a:hover {
  opacity: 0.7;
}

.nav-item:hover {
  opacity: 0.7;
}

.album img:hover {
  opacity: 0.6;
  border-radius: 30%;
}
/*# sourceMappingURL=App.css.map */