@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@1,300&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

$base-color:  rgb(218, 218, 218);

@mixin flexCenter($direction) {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: $direction
}

body {
    display: flex;
 
    align-items: center;
    justify-content: center;
    font-family: 'Roboto Condensed',
        sans-serif;
      background: linear-gradient(-75deg, #030811, #0c182e, #1c2343, #080e2d);
    background-size: 400% 400%;
    animation: gradient 20s ease infinite;
    color: $base-color
}

@keyframes gradient {
    0% {
        background-position: 0% 75%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 75%;
    }
}



.Nav {
  
    background-color: #32438d;
left: 0;
     position: fixed;
    width: 9em;
   height: 100vh;
    z-index: 20;

    padding-bottom: 15px;
    z-index: 3;
    font-size: .7em;
border-bottom-left-radius: 5%;
border-bottom-right-radius: 50%;


}

.Nav-links {
      display: flex;
    flex-direction: column;
   
}

.Nav a {
        @include flexCenter(column);
    text-decoration: none;
    color: rgb(218, 218, 218);
    font-size: 2em;
     width: 2em;
    height: 2em;
       background-color: #040a23;
    margin: .4em;
     padding: .8em;
     border-radius: 5%;
    
}
.nav-item {
          @include flexCenter(column);
          
            img {  margin-bottom: .5em;
                width: .8em;
            }

}

.background-title-1 {

    position: fixed;
    max-width: 8em;
    min-height: 100vh;
    left: 0;
    bottom: 5;

    background-size: cover;
    z-index: 10;
    opacity: 60%
}


.section {
    margin-top: 2em;
            margin-bottom: 2em;

        background-color: rgba(85, 65, 104, 0.1);
   display: flex;
   flex-direction: column;
   align-items: left;
                padding: 1em;
                min-height: 85vh;
            height: auto;
        width: 50vw;
        text-align: left;
        border-radius: 2%;

h1{
    margin-top: 2em;
    font-family: Poppins;
    letter-spacing: 5px;
    margin-bottom: .2em;
    font-size: 2em
}
}

.underline {
    font-size: 1.1em;
    background-color: red;
    width: 5em;
    height: .1em;
    content: "";
}

.header {
        display: flex;
   flex-direction: column;
}

.portrait {

    height: 11em;
    // border: .1px solid rgba(255, 59, 37, 0.868);
    border-radius: 75%;
}

.section-header {
    margin-top: 2em;
       display: flex;
   flex-direction: row;
   align-items: left;
}

.header-info {
    width: 23em;
    height:8em;
    padding: 1em;
    margin-top: .5em;
    margin-left: 5%;
    margin-bottom: 5%;
     background-color: rgba(85, 65, 104, 0.15);


}

.info-section {
 display: flex;
 flex-direction: row;
 margin-bottom: 1em;
 font-size: 1.2em;
 img {
     margin-right: 2em;
     height: 1em
 }

}


.info {
 display: flex;
 flex-direction: row;
 margin-bottom: 1em;
 font-size: 1.3em;
 padding-left: 1em;
  padding-right: 1em;

 img {
     margin-right: 2em;
     height: 1em
 }
}

// bottom icons

.icons {
    @include flexCenter(row);
    width: 100%;
    margin-top: 2em;
    display: flex;
    button {
        margin-right: 5em;
    }
    button:hover {
    opacity: 0.7;
    border-radius: 18%;
   
}




}
#github {
    background-image: url("github.png");
    margin-right: 3em;
    width: 2.4em;
    height: 2.4em;
    background-color: #283981;
    content: "";
    border: none;
    outline-style: none;
    cursor: pointer;
    position: relative
}

#github-info {
    display: none;
}

#github:hover+#github-info {
    display:flex;
    width: 1em;
    height: 1em;
    
}

#linkedin {
    background-image: url("linkedin.png");
    width: 2.4em;
    height: 2.4em;
    background-color: #283981;
    content: "";
    border: none;
    outline-style: none;
        cursor: pointer;
    position: relative


}

#linkedin-info {
    display: none;
}

#linkedin:hover+#linkedin-info {
    display: block;
    width: 1em;
    height: 1em;
    
}
// Projects
.project-container 
{
    margin-top:1em;
    height: 98%;
    width: 99.7%;
    display: flex;
    flex-direction: column;
    align-items: center;
  background-color: rgba(85, 65, 104, 0.1);
     margin-bottom: 4em;
 
}

.project-image {
    width: 99%;
    height: 34em;
        display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -3em;
    img {
             max-width: 100%;
                height: auto;

    }
}

.project-info {
    height:5.6em;
    margin-top: -2.5em;
    width: 100%;
          background-color: rgba(85, 65, 104, 0.15);
          display: flex;
          flex-direction: row;
          font-size: 1.2em;
}

.project-actual-info {
width: 80%;
padding: 1em;
}

.project-gotosite {

display: flex;

align-items: center;
border-left: 1px dotted;
button {
    margin-left: 3em;

}


}

.project-tech {
        height:3.5em;
    width: 100%;
      background-color: rgba(85, 65, 104, 0.1);
img {
    margin: 1em;
    width: 2em;
}

}

// Skills
.skills-info {
margin-right: 1em;
margin-left: 1em;
font-size: 1.1em;

div {
    margin-top: 1em;
}



}

.skills-container {
    margin-top:1em;
    height: 98%;
    width: 99.7%;
    display: grid;
    grid-template-columns: 33% 33% 33%;
          row-gap: 0em;
         overflow:inherit



}

.skill-container {
width: 90%;
height: 8.5em;
margin: 1em;

 background-color: rgba(85, 65, 104, 0.1);
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.skill-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: .8em;

}

.skill-title {
    font-size: 1.5em;
}



// Contact
.contact {
    display: flex;
    flex-direction: column;
    margin-top: 2em;
    button {
        font-size: 1.4em;
        width: 5em;
        margin-top: 1em;
        background-color: rgb(146, 146, 146);

    }
   input {
    margin-bottom: 1em
}

}


#name {

width: 50%;

}

#email {
width: 50%;
}

#message {
width: 50%;
height: 10em;
}


.icon {
    max-width: 1%;
    text-align: center;
}


/* Music */
.album {
    background-color: rgba(12, 0, 0, 0.01);
    min-width: 10em;
    min-height: 10em;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5%;
    margin-bottom: 1em;
    padding: 1em;


}

.album-title {
    text-decoration: dashed;
}

.album img {
    max-width: 15em;
    cursor: pointer;
    border-radius: 5%;
}

.albums {

    margin: 2em;
    padding: 1em;


}

/* Button */
.button {
    max-width: 8em;
    border-radius: 5%;
    background-color: #32438d;
}



/* Modal */
.modal {
    border: 1px solid;
    min-width: 10em;
    min-height: 10em;
    background-color: rgba(85, 65, 104, 0.95);
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    margin: 5em;
}

.modal-album {
    background-color: rgba(12, 0, 0, 0.8);
    min-width: 80%;
    min-height: 90%;
    padding: 1em;
    border-radius: 1%;
    display: flex;
    flex-direction: column;

    align-items: center;
}

.modal-album-title {
    color: rgb(214, 48, 48)
}

.modal-album-release {
    color: rgb(226, 100, 100);
    padding: 1em;

}

.modal-album-info {

    color: white;
    padding: 1em;
    font-size: 2em;
}

/* effects */
.Nav a:hover {
    opacity: 0.9;
    width: 43%
    
}

// .nav-item:hover {
//     opacity: 0.7;
//     width: 65%;
//     cursor: pointer
    
// }

.album img:hover {
    opacity: 0.6;
    border-radius: 30%;
}



// Might use later
// a:hover+Navbar-link::before {
//     transform: translateX(-70px);
// }

// #home::before {
//     display: none
// }

// .Navbar-link::before {
//     background: rgba(36, 35, 35, 0.9);
//     content: "";
//     height: .5em;
//     width: .5em;
//     bottom: -1px;
//     transform: translate(-50px);
//     position: absolute;
//     transition: 0.7s;
//     border-radius: 5%;
//     z-index: 10;
//     cursor: none
// }

    // border-bottom-right-radius: 50%;
    //             border-top-left-radius: 50%;

    @media screen and (max-width: 480px) {
        .Nav {
            top:0;
             min-width: 100vw;
              max-width: 100vw;
    min-height: 7vh;
    max-height: 8vh;
    
        }
.Nav-links {
     
    flex-direction: row;
   
}
.nav-item {
    @include flexCenter(column);
    width: 4em;
    height: 4em;
    background-color: #040a23;
    margin-top: 0em;
     padding: 1em;
     border-radius: 5%;
     img {
       margin-top: 1em;
         width: 1em;
     }
}


.Nav a {
    text-decoration: none;
    color: rgb(218, 218, 218);
    font-size: 1em;
}



.section {
display: flex;
   align-items: center;
flex-direction: column;
width: 90vw;


}

.section-header {
display: flex;
flex-direction: column;
width: 98vw;
}

.projects-container {
    width: 98vw;

}

.project-image {
  height: 20em;
}

.project-info {
    height: 8em;
}
.project-tech {
        height:5em;
    width: 100%;
      background-color: rgba(85, 65, 104, 0.1);
      margin-top: 0em;
img {
    margin: 1em;
    width: 1em;
}

}

  
}



 @media all and (min-width: 600px) {
        &.nav-item:hover {
 opacity: 0.7;
    width: 65%;
    cursor: pointer
        } }